//colors

$Grey-60: #728095;
$Grey-80: #2E3747;
$Grey-110: #0D0E14;

$white: #FFFFFF;
$pink-50: #ED64A6;
$pink-60: #D53F8C;

$blue-50: #4299E1;
$blue-60: #3182CE;
$blue-70: #2B6CB0;
$blue-110: #122743;

$linear-gradient-blue: linear-gradient(107.62deg, #1E84E3 0%, #5C26D3 100%);
$linear-gradient-grey1: linear-gradient(99.33deg, rgba(160, 174, 192, 0.1) 0%, rgba(160, 174, 192, 0.025) 100%);
$linear-gradient-grey2: linear-gradient(99.33deg, rgba(160, 174, 192, 0.1) 0%, rgba(160, 174, 192, 0) 100%, rgba(160, 174, 192, 0.025) 100%);
;